<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Conference</title>
    <link rel="stylesheet" href="/css/ProductStylee.css"> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header>
        <div class="nav container">
            <a href="#" class="logo">SMART</a>
            <span id="user-name" style="margin: auto;"></span><i class='bx bx-shopping-bag' id="cart-icon"></i>
            <div class="cart">
                <h2 class="cart-title">Resumen</h2>
                <div class="cart-content">

                </div>
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">Q0</div>
                </div>
                <div class="payment-method">
                    <label>
                        <input type="radio" name="payment" value="efectivo" checked> Efectivo
                    </label>
                    <label>
                        <input type="radio" name="payment" value="tarjeta"> Tarjeta
                    </label>
                </div>
                <button type="button" class="btn-buy">Pagar</button>
                <i class='bx bx-x' id="close-cart"></i>
            </div>
        </div>
        </div>
    </header>