<section class="shop container">
  <h2 class="section-title">Productos</h2>
  <div class="shop-content">
    <div class="product-box">
      <img src="/src/Img/tortilla de harina.jpg" alt="" class="product-img" />
      <h2 class="product-title">tortillas de harina</h2>
      <span class="price">Q30.00</span>
      <i class="bx bx-shopping-bag add-cart"></i>
    </div>
    <div class="product-box">
      <img src="/src/Img/churrasquitos.jpg" alt="" class="product-img" />
      <h2 class="product-title">churrasquitos</h2>
      <span class="price">Q30.00</span>
      <i class="bx bx-shopping-bag add-cart"></i>
    </div>
    <div class="product-box">
      <img src="/src/Img/tacos.jpg" alt="" class="product-img" />
      <h2 class="product-title">tacos</h2>
      <span class="price">Q30.00</span>

      <i class="bx bx-shopping-bag add-cart"></i>
    </div>
    <div class="product-box">
      <img src="/src/Img/panConPierna.jpg" alt="" class="product-img" />
      <h2 class="product-title">pan con pierna</h2>
      <span class="price">Q25.00</span>

      <i class="bx bx-shopping-bag add-cart"></i>
    </div>
    <div class="product-box">
      <img src="/src/Img/panConPollo.jpg" alt="" class="product-img" />
      <h2 class="product-title">pan con pollo</h2>
      <span class="price">Q20.00</span>

      <i class="bx bx-shopping-bag add-cart"></i>
    </div>
    <div class="product-box">
      <img src="./src/Img/dobladas.jpg" alt="" class="product-img" />
      <h2 class="product-title">dobladas</h2>
      <span class="price">Q20.00</span>

      <i class="bx bx-shopping-bag add-cart"></i>
    </div>
    <div class="product-box">
      <img src="/src/Img/fresas%20con%20crema.jpg" alt="" class="product-img" />
      <h2 class="product-title">fresas con crema</h2>
      <span class="price">Q20.00</span>

      <i class="bx bx-shopping-bag add-cart"></i>
    </div>
    <div class="product-box">
      <img src="/src/Img/chuchitos.jpg" alt="" class="product-img" />
      <h2 class="product-title">chuchitos</h2>
      <span class="price">Q15.00</span>

      <i class="bx bx-shopping-bag add-cart"></i>
    </div>
    <div class="product-box">
      <img src="/src/Img/tostadas.jpg" alt="" class="product-img" />
      <h2 class="product-title">tostadas</h2>
      <span class="price">Q15.00</span>

      <i class="bx bx-shopping-bag add-cart"></i>
    </div>
    <div class="product-box">
      <img src="/src/Img/enchiladas.jpg" alt="" class="product-img" />
      <h2 class="product-title">enchiladas</h2>
      <span class="price">Q10.00</span>

      <i class="bx bx-shopping-bag add-cart"></i>
    </div>
    <div class="product-box">
      <img src="/src/Img/atol.jpg" alt="" class="product-img" />
      <h2 class="product-title">arroz con leche</h2>
      <span class="price">Q10.00</span>

      <i class="bx bx-shopping-bag add-cart"></i>
    </div>
    <div class="product-box">
      <img src="/src/Img/chocolate.jpg" alt="" class="product-img" />
      <h2 class="product-title">arroz con chocolate</h2>
      <span class="price">Q10.00</span>

      <i class="bx bx-shopping-bag add-cart"></i>
    </div>
    <div class="product-box">
      <img src="/src/Img/ponche.jpg" alt="" class="product-img" />
      <h2 class="product-title">ponche</h2>
      <span class="price">Q10.00</span>

      <i class="bx bx-shopping-bag add-cart"></i>
    </div>
  </div>
</section>
