<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Conference</title>
    <link rel="stylesheet" href="./src/css/ProductStylee.css"> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header>
        <div class="nav container">
            <a href="#" class="logo">SMART</a>
            <span id="user-name" style="margin: auto;"></span><i class='bx bx-shopping-bag' id="cart-icon"></i>
            <div class="cart">
                <h2 class="cart-title">Resumen</h2>
                <div class="cart-content">

                </div>
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">Q0</div>
                </div>
                <div class="payment-method">
                    <label>
                        <input type="radio" name="payment" value="efectivo" checked> Efectivo
                    </label>
                    <label>
                        <input type="radio" name="payment" value="tarjeta"> Tarjeta
                    </label>
                </div>
                <button type="button" class="btn-buy">Pagar</button>
                <i class='bx bx-x' id="close-cart"></i>
            </div>
        </div>
        </div>
    </header>
    <section class="shop container">
        <h2 class="section-title">Productos</h2>
        <div class="shop-content">
            <div class="product-box">

                <img src="../src/Img/tortilla de harina.jpg" alt="" class="product-img">
                <h2 class="product-title">tortillas de harina</h2>
                <span class="price">Q30.00</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <div class="product-box">

                <img src="./src/Img/churrasquitos.jpg" alt="" class="product-img">
                <h2 class="product-title">churrasquitos</h2>
                <span class="price">Q30.00</span>
                <i class='bx bx-shopping-bag add-cart'></i>

            </div>
            <div class="product-box">
                <img src="./src/Img/tacos.jpg" alt="" class="product-img">
                <h2 class="product-title">tacos</h2>
                <span class="price">Q30.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <div class="product-box">
                <img src="./src/Img/panConPierna.jpg" alt="" class="product-img">
                <h2 class="product-title">pan con pierna</h2>
                <span class="price">Q25.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <div class="product-box">
                <img src="./src/Img/panConPollo.jpg" alt="" class="product-img">
                <h2 class="product-title">pan con pollo</h2>
                <span class="price">Q20.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <div class="product-box">
                <img src="./src/Img/dobladas.jpg" alt="" class="product-img">
                <h2 class="product-title">dobladas</h2>
                <span class="price">Q20.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <div class="product-box">
                <img src="./src/Img/fresas%20con%20crema.jpg" alt="" class="product-img">
                <h2 class="product-title">fresas con crema</h2>
                <span class="price">Q20.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div> <div class="product-box">
                <img src="./src/Img/chuchitos.jpg" alt="" class="product-img">
                <h2 class="product-title">chuchitos</h2>
                <span class="price">Q15.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div> <div class="product-box">
                <img src="./src/Img/tostadas.jpg" alt="" class="product-img">
                <h2 class="product-title">tostadas</h2>
                <span class="price">Q15.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <div class="product-box">
                <img src="./src/Img/enchiladas.jpg" alt="" class="product-img">
                <h2 class="product-title">enchiladas</h2>
                <span class="price">Q10.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <div class="product-box">
                <img src="./src/Img/atol.jpg" alt="" class="product-img">
                <h2 class="product-title">arroz con leche</h2>
                <span class="price">Q10.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <div class="product-box">
                <img src="./src/Img/chocolate.jpg" alt="" class="product-img">
                <h2 class="product-title">arroz con chocolate</h2>
                <span class="price">Q10.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <div class="product-box">
                <img src="./src/Img/ponche.jpg" alt="" class="product-img">
                <h2 class="product-title">ponche</h2>
                <span class="price">Q10.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>

        </div>
    </section>
    <script src="./src/scripts/ScriptProducts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.2/jspdf.umd.min.js"></script>
</body>

</html>